
<a routerLink="/home"><button id="logout"type="submit" class="btn btn-danger">Logout</button></a>
<h2>Welcome User!!!</h2>
<div>
    <table>
        <tr>
            <td align="center"><button type="submit" class="btn btn-primary btn-lg btn-block">Book A Flight</button></td>
        </tr>
        <tr>
            <td align="center"><button type="submit" class="btn btn-primary btn-lg btn-block">View Available Flights</button></td>
        </tr>
        <tr>
            <td align="center"><button type="submit" class="btn btn-primary btn-lg btn-block">Cancel A Booking</button></td>
        </tr>
        <tr>
            <td align="center"><button type="submit" class="btn btn-primary btn-lg btn-block">View booking by Id</button></td>
        </tr>
    </table>
</div>